<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>无疑基础专家-后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="bs-header text-muted">
      <div class="container">
        <p class="title-p">
          <a class="title-link" href="/">
            <span class="text-lg">无疑基础专家</span> 51jczj.com 
          </a>
          <span class="pull-right">
            <a href="">{{ .username }}</a> 欢迎你!
            <a href="/logout">登出</a>
          </span>
        </p>
        <p>基础知识的专家，技能入门的好帮手。</p>
      </div>
    </div>
    <header class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li id="archives"><a href="/archives">文章管理</a></li>
    				<li id="archivesgroup"><a href="archivesgroup">章节管理</a></li>
    				<li id="users"><a href="users">用户管理</a></li>
    				<li id="privileges"><a href="privileges">角色与权限</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>

  <div class="container fix">
  {{ yield }}
  <div>


    <script>
      $(page).addClass("active");
    </script>
  </body>
</html>
