<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>无疑基础专家</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="bs-header">
      <div class="container">
        <p class="title-p"><a class="title-link" href="/">
          <span class="text-lg">无疑基础专家</span> 51jczj.com 
        </a></p>
        <p class="text-muted">基础知识的专家，技能入门的好帮手。</p>
      </div>
    </div>
    <header class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li id="indexA"><a href="/">首页</a></li>
    				<li id="booksA"><a href="books">儿童读物</a></li>
    				<li id="knowledgeA"><a href="knowledge">育儿知识</a></li>
    				<li id="recipesA"><a href="recipes">营养食谱</a></li>
    				<li id="showA"><a href="show">宝宝SHOW</a></li>
    				<li id="shopA"><a href="shop">亲子SHOP</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">其它<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">关于我们</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <script>
      $("#{{.}}A").addClass("active");
    </script>

  <div class="container fix">
  {{ yield }}
  <div>


  </body>
</html>
