<style>
	.navbar-form>input,.navbar-form>button{
		margin: 5px;
	}
</style>
<div class="container">
  <form class="navbar-form" role="search">
        <input id="usernameInput" type="text" class="form-control" placeholder="用户名">
        <input id="passwordInput" type="password" class="form-control" placeholder="密码">
		<button id="loginBtn" type="button" class="btn btn-default">登录</button>
  </form>
</div>
<script>
  $("#loginBtn").click(function(){
    $.post("login",{
    	username:$("#usernameInput").val(),
    	password:$("#passwordInput").val()
    },function(data,status){
			if(data.success){
				window.location.reload();
			}
    },"json");
  });
</script>