<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="header">
    <div class="logo">
      <a href="http://www.sumscope.com" target="_blank" title="Sumscope"><img src="/img/logo.png" alt="Sumscope" /></a>
    </div>
  </div>
  <div class="pageWrap">
   <div class="adBanner"><a href="http://www.sumscope.com/Quoteboard.html" target="_blank"><img src="/img/ad01.png" alt="" /></a></div>
           <ul class="tabBarThird l" id="ProductNav">
            <li class="selected"><a href="javascript:void();"></a></li>
            <!--<li><a href="javascript:void();"></a></li>
            <li><a href="javascript:void();"></a></li>-->
        </ul>   
    <div class="fix"></div>
    <div id="content">

    </div>
  </div>

<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript">
var infoType = 0;
var timestamp = (new Date()).valueOf();

var tabTexts = [{{ range .tabTexts }}"{{ . }}",{{ end }}""];
var titles = [{{ range .titles }}"{{ . }}",{{ end }}""];

function loadContent(){
  $("#content").load("{{ .baseurl }}/indexInfo/"+infoType+"?timestamp="+(timestamp++));
}
$(function(){
  $("#ProductNav>li>a").each(function(){
    $(this).html(tabTexts[$(this).index()]);
  });

  window.setInterval("loadContent();",10000);
  $("#ProductNav li").click(function(){
    $("#ProductNav li.selected").removeClass("selected");    
    $(this).addClass("selected");
    infoType = $(this).index();
    document.title=titles[infoType];
    loadContent();
  });
  loadContent();
});
</script>

  </body>
</html>