body{
    padding-top: 0px;
    padding-bottom: 0px;
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

pre code { 
	background: transparent;
}

/****标题****/
.title-p{
	margin:10px 0 10px 0;
}

a.title-link,a.title-link:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.bs-header{
	background: #3b3137;
	background-image: url("../img/header-bg.png");

}

.text-lg{
	font-size: 26px;
}


.container>.navbar-header, .container>.navbar-collapse {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}

.navbar-inverse{
	background: #200415;
	border: none;
	border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #2f0920;
	border-bottom: 3px solid #bd4b91;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #552442;
	border-bottom: 3px solid #ff009c;
}

