@CHARSET "UTF-8";

body {
	font-size: 14px;
}

textarea{
	font-size: 14px;
	width: 268px;
	height: 153px;
}

a {
	list-style: none;
	float: left;
	padding: 0px;
	margin-right: 10px;
	background-color: #A3BAE9;
	color: #333333;
	border-style: solid;
	border-color: #A3BAE9;
	text-decoration: none;
	font-weight: bold;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 700px;
	border: 1px solid black;
}

table td {
	border: 1px solid black;
}

table th {
	border: 1px solid black;
}

table tr.productTr{
	color: #000000;
	font-weight: bold;
	background-color: #DDDDDD;
}

tr.tableTitle th {
	border: 1px solid black;
	background-color: #A3BAE9;
}
.uploadContent,.editContent {
	clear: left;
	background-color: #A3BAE9;
	color: #333333;
	padding: 5px;
	display: block;
}

.uploadContent{
	height: 290px;
	width: 280px;
}

.editContent{
	height: 250px;
	width: 280px;
}