<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<bean id="enmMenuService" class="com.lineboom.emn.enmboot.service.impl.EnmMenuServiceImpl"></bean>
	<bean id="enmRoleService" class="com.lineboom.emn.enmboot.service.impl.EnmRoleServiceImpl"></bean>
	<bean id="enmUserService" class="com.lineboom.emn.enmboot.service.impl.EnmUserServiceImpl"></bean>
	<bean id="websiteMenuService" class="com.lineboom.emn.enmboot.service.impl.WebsiteMenuServiceImpl"></bean>
</beans>